{% extends "layout.html" %}

{% block title %}Order{% endblock %}

{% block content %}

Collection method: {{collection}}

<div class="row row-cols-1 row-cols-md-3 g-4">

{% for key, value in menu.items() %}

  <div class="col">
    <div class="card h-100">
      <img src="../static/{{value['image']}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{value['title']}}</h5>
        <small class="text-muted">{{value['kj']}} kJ</small>
        <p class="card-text">{{value['description']}}</p>

      </div>
    </div>
  </div>

{% endfor %}


</div>


{% endblock %}